header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 80px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

main{
    margin-top: 100px;
    padding-left: 50px;
    
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: block;
    justify-content: space-between;
    align-items: center;
}

.filise{
    position: relative;
    color: rgb(39, 36, 36);
    background-image: url(src/backgroundfiliase.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
   }


button {
    background-color: rgb(232, 252, 202);
    padding: 10px;
    border-radius: 10pc;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}
.image:hover{
    transform: scale(1.2);

}


/*Rodapé*/
footer {
    position: relative;
    width: 100vw;
    height: 30vh;
    max-height: 300px;
    left: 0;
    bottom: 0%;
    background-color: #030;
}

/*Rodapé: Linhas*/
.linhas {
    left: 10%;
    width: 80%;
    position: absolute;
    border: 2px solid white;
}

#linha-horizontal1 {
    top: 10%;
}

#linha-horizontal2 {
    bottom: 10%;
    margin-bottom: 10px;
}

/*Rodapé: Informações*/
.footer_infor {
    position: absolute;
    width: 80%;
    height: 70%;
    left: 10%;
    top: 13%;
    background-image: url(./src/logo2CSJ.png);
    background-repeat: no-repeat;
    background-position: 5%;
    background-size: contain;
}

.footer_infor p {
    transform: translateY(-50%);
    position: relative;
    text-align: center;
    float: right;
    width: 25%;
    top: 50%;
}
