* {
    margin: 0;
    padding: 0;
    caret-color: #C8FF00;
    -webkit-user-drag: none;
    user-select: none;
    /*Tira a possibilidade de selecionar algo, por exemplo, um texto.*/
    -webkit-user-select: none;
    /*Mesmo que o de cima*/
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgb(247, 250, 249);
}

body {
    
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background: linear-gradient(135deg, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;

   /* background: #f2f2f2; /* Cor de fundo mais clara
    font-family: 'Poppins', sans-serif;
    color: #333; /* Cor de texto mais escura */
}

html {
    scroll-behavior: smooth;
    width: 100vw;
}

::selection {
    background-color: #050;
    color: white;
}

nav a:hover{
    
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
}

/* Estilos para o menu hamburguer */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin: 3px 0;
    transition: 0.4s;
}

/* Estilos para o menu de navegação */
.menu {
    display: flex;
    justify-content: flex-end;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

/* Estilos para o menu responsivo */
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
        margin-left: 359px;
    }

    .menu {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: 0px 5px 10px rgba(251, 255, 6, 0.1);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    }

    .menu.active {
        display: flex;
        flex-direction: column;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu ul{
        
        background-color: #c8ff0054;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }
}

@media screen and (max-width: 571px) {
    .menu-toggle {
        display: flex;
        margin-left: 180px;
    }

    .menu {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: 0px 5px 10px rgba(251, 255, 6, 0.1);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    }

    .menu.active {
        display: flex;
        flex-direction: column;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu ul{
        
        background-color: #c8ff0054;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }
}

main{
    margin-top: 100px;
    padding-left: 30px;

}

.form-trabalho-tittle{

    display: flex;
    justify-content: center;
}

.form_trabalho{

    display: flex;
    justify-content: center;
    

}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* background: linear-gradient(135deg, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    transition: 0.5s;
}

.section-nov {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
   background: linear-gradient(135deg, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%);
    transition: 0.5s;
    display: block;
} 

.section-fil {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
   /*background: linear-gradient(135deg, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    transition: 0.5s;
    display: block;
} 
/* Menu - A partir daqui é o CSS do menu */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 80px;
}

header ul {
    position: relative;
    display: flex;
    gap: 2,5rem;
}

li {
    display: block;
    transition: .5s;
}

ul:hover li {
    filter: blur(5px);
}

ul li:hover {
    filter: blur(0px);
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
/* Aqui acaba o CSS menu */ 

.imgBox2 {
    width: 200px;
    height: 200px;
}




.form {
    margin-top: 40px;
}

form {
	margin: 20px;
    margin-bottom: 50px;
}




/*body {

    background: url('https://www.google.com/search?q=folhas&oq=folhas+&aqs=chrome.0.69i59j46i67i433i650j0i67i650j0i67i433i650j46i433i512j0i67i650j46i433i512j0i512j0i131i433i512j0i512j46i131i433i512j0i67i650l2j0i512.2331j1j7&client=ms-android-samsung-gj-rev1&sourceid=chrome-mobile&ie=UTF-8#imgrc=gfg3g6KkzA7Z0M&imgdii=UforDKzVmpRNtM') center/cover no-repeat;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}*/




        /* Estilos para o input de arquivo curriculo */
 /* Estilos para o input de arquivo */
       .file-input-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 20px;
        }

        .file-input-label {
            font-size: 16px;
            margin-bottom: 5px;
        }

        .file-input {
            display: none;
        }

        .custom-file-input {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-bottom: 10px;
        }

        .custom-file-input:hover {
            background-color: #45a049;
        }


.more-content {
    display: none;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}
.show-more,
.show-less {
    cursor: pointer;
    color: #84b7e9;
    text-decoration: none;
    font-weight: bold;
    background-color: #f2f2f2; /* Cor de fundo */
    border-radius: 5px; /* Borda arredondada */
    padding: 5px 10px; /* Espaçamento interno (padding) para melhor aparência */
    transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
    display: inline-block; /* Para que ocupem apenas o espaço necessário */
    margin-bottom: 10px;
}
.show-less {
    display: none;
}
/* Estilo padrão para os links "Mostrar Mais" e "Mostrar Menos" */
/* Estilo ao passar o mouse sobre os links "Mostrar Mais" e "Mostrar Menos" */
.show-more:hover,
.show-less:hover {
    background-color: #84b7e9; /* Cor de fundo ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
}

/*---pop up---*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 35px;
    color: white;
    cursor: pointer;
}

.image-container {
    
    
    display: block;
    justify-content: center;
    cursor: pointer;
    


}

/* Define o tamanho máximo das imagens no meio do texto */
.image-in-text {
    max-width: 300px; /* Define a largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Faz a imagem ser exibida como um bloco */
    margin: 20px auto; /* Define margens para centralizar a imagem */
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.6);

}

.text-filiase p {

    padding: 10px;

}

        /*   */
        .inscrever-button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-decoration: none; /* Remove a sublinhado padrão de links */
        }

        .inscrever-button:hover {
            background-color: #45a049;
        }
    


/* Estilização para a seção de texto e imagens */


/* Estilização para o botão */
.inscrever-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-top: 10px; /* Espaçamento superior */
}

.filiasetxt {

    background: url('https://www.google.com/search?q=folhas&oq=folhas+&aqs=chrome.0.69i59j46i67i433i650j0i67i650j0i67i433i650j46i433i512j0i67i650j46i433i512j0i512j0i131i433i512j0i512j46i131i433i512j0i67i650l2j0i512.2331j1j7&client=ms-android-samsung-gj-rev1&sourceid=chrome-mobile&ie=UTF-8#imgrc=gfg3g6KkzA7Z0M&imgdii=UforDKzVmpRNtM') center/cover no-repeat;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}


/*-----------------------------------------------Main do filiase -----------------------------*/

.main-filiase{

    padding: 0px;
}

.section-fil {

    clear: both;
    min-height: 316px;
    padding: 50px 150px 150px;

}

/*--------------------------------*/

.mostrarmais_align{

    display: flex;
    flex-direction: column;
    align-items: center;

}

/*---------------Novidades--------------*/



.main-nov{

    clear: both;
    min-height: 316px;
    padding: 50px 200px 50px 200px;

}

.main-nov p{

    margin-bottom: 10px;

}

p {

    margin-bottom: 10px;
}

.form{

    padding-left: 30px;
    padding-right: 30px;
}


.form-nov{

    display: flex;
    flex-direction: column;
    align-items: center;

}

@media (max-width: 626) {
    header {
        padding-left: 30px;
    }

    section {
        padding: 20px 50px;
    }

    .content {
        padding: 100px 50px 150px;
    }

    .content .textBox {
        padding: 1em;
    }

    .section-fil h1{

        font-size: medium;

    }
}