@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    caret-color: #C8FF00;
    -webkit-user-drag: none;
    user-select: none;
    /*Tira a possibilidade de selecionar algo, por exemplo, um texto.*/
    -webkit-user-select: none;
    /*Mesmo que o de cima*/
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgb(247, 250, 249);
}
/*body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, background: linear-gradient(135deg, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}*/
html {
    scroll-behavior: smooth;
    width: 100vw;
}

::selection {
    background-color: #050;
    color: white;
}

nav a:hover{
    
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
}

main{
    margin-top: 100px;
    padding-left: 30px;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    transition: 0.5s;
}

.section-nov {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    transition: 0.5s;
    display: block;
} 

.section-fil {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    transition: 0.5s;
    display: block;
} 
/* Menu - A partir daqui é o CSS do menu */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 80px;
}

header ul {
    position: relative;
    display: flex;
    gap: 2,5rem;
}

li {
    display: block;
    transition: .5s;
}

ul:hover li {
    filter: blur(5px);
}

ul li:hover {
    filter: blur(0px);
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
/* Aqui acaba o CSS menu */ 
/*
img {
    width: 200px;
    height: 200px;
}
*/
.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
}

.content .textBox h2 {
    color: #fff;
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
}

.content .textBox h2 span {
    font-size: 2em;
}

.content .textBox p {
    color: #fff;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #fff;
    color: #111;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.content .imgBox {

    height: 400px;
    width: 400px;
    display: flex;
    padding-right: 50px;
    margin-top: 50px;
    justify-content:center ;
}

.content .imgBox img {
    border-style:outset;
    border-radius: 60%;
    max-width: 600px;
    max-height: 350px;
}

.sci {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex ;
    justify-content:flex-end;
    align-items:center ;
    flex-direction: column;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    filter: invert(1);
    margin: 5px 0;
    transform: scale(0.6);
}

@media (max-width: 767px) {
    header {
        padding: 20px 50px;
    }

    section {
        padding: 20px 50px;
    }

    .content {
        padding: 100px 50px 150px;
    }

    .content .textBox {
        padding: 1em;
    }
}

/* Slide */
.slider_main {
    position: absolute;
    left: 0;
    top: 12vh;
    width: 100%;
    margin-bottom: 100px;
}

.slider {
    position: relative;
    width: 700px;
    height: 55vh;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
}

/*Todos os slides*/
.slides {
    top: 10%;
    width: 40%;
    height: 90%;
    position: relative;
    border-radius: 30px;
    border: 1px solid #222;
    background-color: white;
    margin-bottom: 50px;
}

/*Texto*/
.slider p{
    top: 90%;
    color: black;
    position: relative;
    text-align: center;
}

/*Sliders Imagens*/
.slides img {
    position: relative;
    width: 100%;
    top: 10%;
}

/*Sliders individuais*/
#slide0 {
    float: left;
    border-radius: 30px;
}

#slide1 {
    float: right;
}

#slide2 {
    top: -90%;
    float: left;
    margin-left: 30%;
}

/*Botões para controle de sliders*/
.bts_direcao {
    box-sizing: content-box;
    width: 40px;
    height: 40px;
    position: absolute;
    border: 2px solid black;
    border-radius: 100%;
    top: 40%;
    cursor: pointer;
    background: none;
    background-repeat: no-repeat;
    background-size: cover;
}

#bt_voltar {
    left: 10px;
    background-image: url(./src/bt_va.png);
}

#bt_avancar {
    right: 10px;
    background-image: url(./src/bt_va.png);
    transform: scaleX(-1);
}

.form {
    margin-top: 40px;
}

form {
	margin: 20px;
    margin-bottom: 50px;


}

form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
    color: black;
}

.contato-zap{
    display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
    width: 50%;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: orange;
	transform: scale(1.2);
}

#corpo {
    margin-top: 100px;
}



/* Produtos */

#produtos div {
    width: 33%;
}

#todos_produtos {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    bottom: 0;
}

#todos_produtos div {
    flex-direction: column;
    display: flex;
    height: 80%;
    width: 100%;
    align-items: center;
}

#todos_produtos div li {
    height: 70%;
}

#todos_produtos div li img {
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.5));
    transition: transform 1s;
    object-fit: contain;
    cursor: pointer;
    height: 100%;
    width: 100%;
    z-index: 9;
}

#img_prod {
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.5));
    object-fit: contain;
    height: 80%;
    width: 100%;
    max-width: 350px;
    min-width: 100px;
}

#todos_produtos div ul {
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: space-around;
}

#todos_produtos div li:nth-child(1) img {
    left: 8px;
}

#todos_produtos div li:nth-child(2) img {
    left: 58px;
}

#todos_produtos div li:nth-child(3) img {
    left: 108px;
}

#todos_produtos div li:nth-child(4) img {
    left: 158px;
}

#todos_produtos div li:nth-child(5) img {
    left: 208px;
}

.texto_prod {
    height: 50%;
    display: flex;
    flex-direction: column;
    font-size: 1.3vw;
}

.texto_prod:first-child {
    align-items: end;
}

.texto_prod:first-child p {
    text-align: right;
}

.texto_prod:last-child {
    align-items: start;
}

.texto_prod:last-child p {
    text-align: left;
}

#flutuantes {
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: fit-content;
    z-index: 9;
    width: 1vw;
    bottom: 20vh;
    right: 0;
}

/*Botao para subir*/
#subir {
    background-color: rgba(0, 30, 0, 0.5);
    transform: rotate(90deg);
    border-radius: 20%;
    font-size: 20px;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

/*Redes sociais*/
#social {
    transform: scale(0.6);
    cursor: pointer;
    text-align: center;
    filter: invert(1);
}





/* Rodapé */

#rodape {
    width: 100%;
    height: 20vh;
    min-height: 20vh;
    padding: 0 2vw;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

footer img {
    height: 80%;
}

footer div {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
/* Estilos para o input de arquivo */
.file-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}


.file-input-label {
    font-size: 16px;
    margin-bottom: 5px;
}


.file-input {
    display: none;
}


.custom-file-input {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.custom-file-input:hover {
    background-color: #45a049;
}



/*   */
.inscrever-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    /* Remove a sublinhado padrão de links */
}

.inscrever-button:hover {
    background-color: #45a049;
}



/* Estilização para a seção de texto e imagens */


/* Estilização para o botão */
.inscrever-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-top: 10px;
    /* Espaçamento superior */
}

.filiasetxt {

    background: url('https://www.google.com/search?q=folhas&oq=folhas+&aqs=chrome.0.69i59j46i67i433i650j0i67i650j0i67i433i650j46i433i512j0i67i650j46i433i512j0i512j0i131i433i512j0i512j46i131i433i512j0i67i650l2j0i512.2331j1j7&client=ms-android-samsung-gj-rev1&sourceid=chrome-mobile&ie=UTF-8#imgrc=gfg3g6KkzA7Z0M&imgdii=UforDKzVmpRNtM') center/cover no-repeat;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#mainLogin {
    display: flex;
    justify-content: center;
}

#usuario {
    overflow: hidden;
    display: flex;
    border-radius: 2%;
    width: 70vw;
    height: 40vh;
}

#usuario input[type="submit"] {
    cursor: pointer;
    height: 48px;
}

.divs_usuario {
    height: 80%;

}

#usuariologin {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(0, 100, 0, 0.4);
    text-align: center;
    transition: width 1s;
}

#form_login {
    flex-direction: column;
    display: flex;
    height: 100%;
    gap: 10px;
}

#form_login input {
    border: 0;
    width: 100%;
    height: 28px;
    padding: 8px;
    outline: none;
    background-color: #5fb75f;
}

#form_login div {
    border: 1px solid red;
    justify-content: center;
    display: flex;
    gap: 10px;
}

#form_login div input {
    border: 3px solid yellow;
    outline: none;
    width: 18px;
}

#usuariologin:hover {
    width: 220%;
}

#usuariocadastro {
    background-color: rgba(250, 250, 250, 0.8);
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    text-align: center;
    transition: width 1s;
    flex-direction: column;

}

#usuariocadastro:hover {
    width: 220%;
}

#usuariocadastro h3 {
    color: #070;
}

#form_cadastro {
    flex-direction: column;
    display: flex;
    height: 100%;
    gap: 10px;
}

#form_cadastro input {
    border: 0;
    width: 100%;
    height: 28px;
    padding: 8px;
    outline: none;
    background-color: #5fb75f;
}